body {
  font-family: sans-serif;
}

/* helps indicate that certain tag elements are clickable */
.look-like-link {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
